<div class="hero is-fullheight">
        
  <div class="hero-body is-justify-content-center is-align-items-center">
      <div class="columns is-flex is-flex-direction-column box">
          <div class="column">
              <img src="https://www.metas.com.mx/img/MetAs_Logo_Header.png" alt="Logo" style="margin-left: 25%;">
              <hr/>
              <label htmlFor="user">Usuario</label>
              <input class="input is-primary" type="text" placeholder="Usuario" id="user"/>
          </div>
          <div class="column">
              <label htmlFor="Name">Contraseña</label>
              <input class="input is-primary" type="password" placeholder="Contraseña" id="password"/>
              <a href="/" class="is-size-7 has-text-primary">Olvide mi contraseña</a>
          </div>
          <div class="column">
              <button class="button is-primary is-fullwidth" type="button" onClick={validarUsuario} >Acceder</button>
          </div>
          <div class="has-text-centered">
              <p class="is-size-7"> No tengo una cuenta <a href="/" class="has-text-primary">Registrarme</a>
              </p>
          </div>
      </div>
  </div>
  </div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Username</label>
  <input [(ngModel)]="user.userName" type="email" class="form-control">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Password</label>
  <input [(ngModel)]="user.pass" type="password" class="form-control">
</div>
<button class="btn btn-primary" (click)="logIn()">Ingresar</button>